{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
<!--
                <img src="{{ user_image }}" alt="User Image">
-->
<!--
            <img src="{{ url_for('static', filename = '/home/sally_venka/upload/logo.jpg') }}" alt="User Image" width="200" height="85">
-->         <img src="{{url_for('static', filename='ramya1.jpeg')}}" style="border-radius: 50%" width="200" height="200" align="middle" />

            <h1>Welcome</h1>
            <p>Welcome to the Programmer Blog! Here we'll be talking about everything computer science. Basics, frameworks, machine learning, other data science stuff, any new tech or findings, and pretty much anything computer science related.</p>
            <p>Go visit us at our Linkedin profile <a href="https://in.linkedin.com/in/ramya-kannan-0112b7199">Ramya Kannan</a> to check out more cool stuff beyond just blogs.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}


